extend layout.pug

block navbar
  - var path='list.html'
  include partials/navbar.pug

block content
  //- h2 #{body.results[0].phone}
  //- h2 #{menu.list[0].name}
  hr
  .card-columns
    each item in khData.result.records
      .card
        img.card-img-top.img-fluid(src=item.Picture1, alt='Card image cap')
        .card-block
          h4.card-title #{item.Name}
          p.card-text #{item.Description}
   
    